*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
venv
db.sqlite3
backend/static
/.idea/misc.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/encodings.xml
